In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
import xgboost as xgb
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.preprocessing import StandardScaler,PolynomialFeatures,minmax_scale,MinMaxScaler

In [2]:
file_path = "C:/Users/User/sg_health/ML/Data/CKD/kidney_disease.csv"
df_ckd = pd.read_csv(file_path)

In [3]:
def check_df(dataframe, head=5):
  print(20*"#", "HEAD", 20*"#")
  print(dataframe.head(head))
  print(20*"#", "TAIL", 20*"#")
  print(dataframe.tail(head))
  print(20*"#", "SHAPE", 20*"#")
  print(dataframe.shape)
  print(20*"#", "TYPES", 20*"#")
  print(dataframe.dtypes)
  print(20*"#", "NA", 20*"#")
  print(dataframe.isnull().sum())
  print(20*"#", "QUARTILES", 20*"#")
  print(dataframe.describe([0, 0.05, 0.10, 0.25, 0.50, 0.75, 0.90, 0.99, 1]).T)

check_df(df_ckd)

#################### HEAD ####################
   id   age    bp     sg   al   su     rbc        pc         pcc          ba  \
0   0  48.0  80.0  1.020  1.0  0.0     NaN    normal  notpresent  notpresent
1   1   7.0  50.0  1.020  4.0  0.0     NaN    normal  notpresent  notpresent
2   2  62.0  80.0  1.010  2.0  3.0  normal    normal  notpresent  notpresent
3   3  48.0  70.0  1.005  4.0  0.0  normal  abnormal     present  notpresent
4   4  51.0  80.0  1.010  2.0  0.0  normal    normal  notpresent  notpresent

   ...  pcv    wc   rc  htn   dm  cad appet   pe  ane classification
0  ...   44  7800  5.2  yes  yes   no  good   no   no            ckd
1  ...   38  6000  NaN   no   no   no  good   no   no            ckd
2  ...   31  7500  NaN   no  yes   no  poor   no  yes            ckd
3  ...   32  6700  3.9  yes   no   no  poor  yes  yes            ckd
4  ...   35  7300  4.6   no   no   no  good   no   no            ckd

[5 rows x 26 columns]
#################### TAIL ####################
      id   age    bp     sg   al   su     rbc      pc         pcc          ba  \
395  395  55.0  80.0  1.020  0.0  0.0  normal  normal  notpresent  notpresent
396  396  42.0  70.0  1.025  0.0  0.0  normal  normal  notpresent  notpresent
397  397  12.0  80.0  1.020  0.0  0.0  normal  normal  notpresent  notpresent
398  398  17.0  60.0  1.025  0.0  0.0  normal  normal  notpresent  notpresent
399  399  58.0  80.0  1.025  0.0  0.0  normal  normal  notpresent  notpresent

     ...  pcv    wc   rc  htn  dm  cad appet  pe ane classification
395  ...   47  6700  4.9   no  no   no  good  no  no         notckd
396  ...   54  7800  6.2   no  no   no  good  no  no         notckd
397  ...   49  6600  5.4   no  no   no  good  no  no         notckd
398  ...   51  7200  5.9   no  no   no  good  no  no         notckd
399  ...   53  6800  6.1   no  no   no  good  no  no         notckd

[5 rows x 26 columns]
#################### SHAPE ####################
(400, 26)
#################### TYPES ####################
id                  int64
age               float64
bp                float64
sg                float64
al                float64
su                float64
rbc                object
pc                 object
pcc                object
ba                 object
bgr               float64
bu                float64
sc                float64
sod               float64
pot               float64
hemo              float64
pcv                object
wc                 object
rc                 object
htn                object
dm                 object
cad                object
appet              object
pe                 object
ane                object
classification     object
dtype: object
#################### NA ####################
id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64
#################### QUARTILES ####################
      count        mean         std     min      0%      5%     10%     25%  \
id    400.0  199.500000  115.614301   0.000   0.000   19.95   39.90   99.75
age   391.0   51.483376   17.169714   2.000   2.000   19.00   28.00   42.00
bp    388.0   76.469072   13.683637  50.000  50.000   60.00   60.00   70.00
sg    353.0    1.017408    0.005717   1.005   1.005    1.01    1.01    1.01
al    354.0    1.016949    1.352679   0.000   0.000    0.00    0.00    0.00
su    351.0    0.450142    1.099191   0.000   0.000    0.00    0.00    0.00
bgr   356.0  148.036517   79.281714  22.000  22.000   78.75   86.50   99.00
bu    381.0   57.425722   50.503006   1.500   1.500   17.00   19.00   27.00
sc    383.0    3.072454    5.741126   0.400   0.400    0.50    0.60    0.90
sod   313.0  137.528754   10.408752   4.500   4.500  125.00  131.00  135.00
pot   312.0    4.627244    3.193904   2.500   2.500    3.40    3.50    3.80
hemo  348.0   12.526437    2.912587   3.100   3.100    7.90    8.60   10.30

         50%     75%      90%      99%     100%      max
id    199.50  299.25  359.100  395.010  399.000  399.000
age    55.00   64.50   71.000   80.100   90.000   90.000
bp     80.00   80.00   90.000  110.000  180.000  180.000
sg      1.02    1.02    1.025    1.025    1.025    1.025
al      0.00    2.00    3.000    4.000    5.000    5.000
su      0.00    0.00    2.000    4.000    5.000    5.000
bgr   121.00  163.00  254.000  434.900  490.000  490.000
bu     42.00   66.00  118.000  236.200  391.000  391.000
sc      1.30    2.80    6.780   19.162   76.000   76.000
sod   138.00  142.00  146.000  150.000  163.000  163.000
pot     4.40    4.90    5.200    6.589   47.000   47.000
hemo   12.65   15.00   16.200   17.653   17.800   17.800